* {
  font-family: Helvetica;
}

body {
    margin: 0;
    background: #dedede;
    display: flex;
    align-items: center;
    height: 100vh;
  }

  
  .gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
  }

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .celeste {
    background: #00bcd4;
  }

  .celeste.light {
    background: #b2ebf2;
  }

  .violeta {
    background: #2b580c;
  }

  .violeta.light {
    background: #639a67;
  }

  .naranja {
    background: #e84a5f;
  }

  .naranja.light {
    background: #ff847b;
  }

  .verde {
    background: #f4e04d;
  }

  .verde.light {
    background: #f2ed6f;
  }

  .btn-start {
    width: 400px;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
  }

  .hide {
    display: none;
  }